

    <header>
        <nav>
            <div class="logo">
                <h5>Creativo</h5>
            </div>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="bar">
                <div class="bar-1"></div>
                <div class="bar-2"></div>
                <div class="bar-3"></div>
            </div>
        </nav>
    </header>



    <script>
      const X = () => {
          const menu = document.querySelector('.bar');
          const nav = document.querySelector('.menu');

          menu.addEventListener('click', () => {
             menu.classList.toggle('bar-active');
              nav.classList.toggle('nav-active');
          });
      }
      X();
  </script>
